*.o
*.nc
*.mod
*.log
*.exe
*~
*.a
*.old
*/ferret.jnl
*.zip
*.tar
*.ps
*.dat
*.aux
*.bbl
*.toc
*.blg
*/Makefile.m
*_e5.inc
*e4chem*
_*.jnl
input/*
multirun/input/*
caaba.nml
mecca/dbl/gas.tex
mecca/dbl/mecca.eqn
mecca/dbl/mecca.spc
mecca/dbl/tagFISOP.cfg
mecca/dbl/tagIC.cfg
mecca/dbl/tagIC.kie
mecca/dbl/tagIO.cfg
mecca/dbl/tagIO.kie
mecca/dbl/tagO3F.cfg
mecca/integr.kpp
mecca/latex/mecca_info.tex
mecca/mecca.eqn
mecca/mecca.spc
mecca/smcl/messy_mecca_dbl_parameters.inc
mecca/smcl/messy_mecca_kpp_function.f90
mecca/smcl/messy_mecca_kpp_global.f90
mecca/smcl/messy_mecca_kpp_initialize.f90
mecca/smcl/messy_mecca_kpp_integrator.f90
mecca/smcl/messy_mecca_kpp_jacobian.f90
mecca/smcl/messy_mecca_kpp_jacobiansp.f90
mecca/smcl/messy_mecca_kpp_linearalgebra.f90
mecca/smcl/messy_mecca_kpp_monitor.f90
mecca/smcl/messy_mecca_kpp_parameters.f90
mecca/smcl/messy_mecca_kpp_rates.f90
mecca/smcl/messy_mecca_kpp_util.f90
mecca/smcl/messy_mecca_tag_parameters.inc
messy_mecca_dbl_parameters.inc
messy_mecca_tag_parameters.inc
nml/caaba_free_trop_MonteCarlo.nml
nml/caaba_multirun.nml

